html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'pragmatica', 'Roboto', 'Open Sans', 'EB Garamond', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
  padding: 0;
  margin: 0;
}
