.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  align-items: flex-start;
}

.item a{
  padding: 5px;
  text-decoration: none;
  color: #404040;
}

.item a:hover {
  text-decoration: none;
}

.item .active {
  color: #037EBC;
}

@media screen and (max-width: 1199px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.56em;
    margin-top: 20px;
  }

  .item {
    margin-left: 50px;
    line-height: 40px;
    padding: 5px 0;
  }
}
